//Colors
	$primary-color : #FFFF66;
	$secondary-color : #A3351C;
	$tertiary-color : #FF6565;
	$grey-color : #ccc; 
	//$font-grey-color: #99998A;

//Structure
	$header-image-height : 200px; 
	$mobile-size : 599px; 

body #page{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}