//Colors
	$primary-color : #CDFFDC;
	$secondary-color : #50F39F;
	$tertiary-color : #DA4747;
	$grey-color : #222; 
	$font-grey-color: #99998A;

//Structure
	$header-image-height : 200px; 
	$mobile-size : 599px; 

body #page{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}