//General
#page{


	//Header
	#masthead{
		@extend .container;

		.wrapper-line{
			@extend .row; 
			width: 100%;
		}.wrapper-line:after{
			@extend .p-clearfix;
		}

		.site-branding{
			float:left;
		}

		#site-navigation{
			//float: right;
			//@extend .col-xs-8;
			float:right;
			clear: none; 
			display: inline-block; 
			width: auto; 
			ul { display: inline-block }; 
		}

	}

	//Content
	#content{

	}

	//Upper/lower sidebars
	.sidebar-upper,
	.sidebar-lower{

	}
}

