//Headers
	.design-header-primary{

	}

	.design-header-secondary{
		
	}

	.design-header-tertiary{
		
	}

//Panels
	.design-panel-primary{

	}

	.design-panel-secondary{
		
	}

	.design-panel-tertiary{
		border-bottom: 3px double lighten( $secondary-color, 40% );
	}

//Buttons
	.design-button-primary{

		
	}

	.design-button-secondary{
		
	}

	.design-button-tertiary{
		
	}
//Header Buttons
	.design-header-button{
		color: $secondary-color;
		border-radius: 4px; 
		border: none; 
		transition: all 0.5s ease;
	}.design-header-button:hover{
		//border-bottom: 4px solid lighten( $tertiary-color, 25% ); 
		text-decoration: none; 
		color: $secondary-color;
	}

	.design-header-button-mobile{

	}