@font-face {
    font-family: '2_nelson_shocard_dnaregular';
    src: url('../src/fonts/2nelscd-webfont.eot');
    src: url('../src/fonts/2nelscd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../src/fonts/2nelscd-webfont.woff2') format('woff2'),
         url('../src/fonts/2nelscd-webfont.woff') format('woff'),
         url('../src/fonts/2nelscd-webfont.ttf') format('truetype'),
         url('../src/fonts/2nelscd-webfont.svg#2_nelson_shocard_dnaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: '0_lumax_bigcaps_dnaregular';
    src: url('../src/fonts/0lumbcd-webfont.eot');
    src: url('../src/fonts/0lumbcd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../src/fonts/0lumbcd-webfont.woff2') format('woff2'),
         url('../src/fonts/0lumbcd-webfont.woff') format('woff'),
         url('../src/fonts/0lumbcd-webfont.ttf') format('truetype'),
         url('../src/fonts/0lumbcd-webfont.svg#0_lumax_bigcaps_dnaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}