//Structure Properties


.structure-header{
	@extend .container-fluid; 

	img{
		height: auto;
		width: 100%; 
	}

	.site-branding{
		//display: inline-block; 
		//max-width: 400px; 
		aside:first-child{
			@extend .col-sm-3; 
			margin: 0; 
		}aside:nth-child(2){
			@extend .col-sm-9;
		}
	}

	.wrapper-line:after{
		@extend .clearfix; 
		clear: both; 
	}
	//Navigation
	nav{
		//float: right; 
		display: inline; 
		text-align: center;
		width: 100%; 
		height: 70px; 

		li{
			margin-right: 5px;
			display: inline-block; 
			float: none; 
			margin-top: 5px;
			margin-bottom: 5px; 
		}li:last-child{
			margin-right: 0; 
		}

		a{
			padding: 15px;
		}
	}

	.menu-toggle{
		@extend .p-button-reset;
		margin-left: auto;
		margin-right: auto;

		font-size: 150%;
		width: 100%;
		font-weight: bold;
	}	

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
		nav,
		.site-branding,
		.nav-menu li{
			width: 100%;
			max-width: none; 
			text-align: center; 
			float: none; 
			margin: 0;
		}

		img{
			width: 100%;
			height: auto; 
		}
    }
}

.structure-menu{
	margin-bottom: 15px; 
}

.structure-base-padding{
	padding: 25px !important; 
	@media only screen and (max-width : 480px){
		padding: 10px !important; 
	}
}

.structure-content{
	@extend .container; 
	.content-row{
		@extend .row;
		#primary,
		#container{
			@extend .col-sm-8;
			@extend .structure-base-padding;
		}
		#secondary{
			@extend .col-sm-4; 
		}
	}	
	.content{
		max-width: 100%;
	}
	.container #content{
		width: 100%;
		li{
			@extend .col-sm-4;
		}
	}
}

.structure-footer{
	@extend .container-fluid;
	.sidebar-footer{
		@extend .row; 
		aside{
			@extend .col-sm-4; 
		}
	}
}

.structure-hor-widget{
	@extend .container;

	aside:nth-child(1),
	aside:nth-child(5){
		width: 100%;
		clear: both; 
	}
	aside:nth-child(2),
	aside:nth-child(3),
	aside:nth-child(4),
	aside:nth-child(6),
	aside:nth-child(7),
	aside:nth-child(8){ 
		@extend .col-sm-4;
	}
}
